.a-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.a-inner {
    padding: 0.8rem 1rem;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 0.7rem;
}

.a-header {
    /* color: rgb(4, 170, 109); */
    text-align: center;
    margin: 0.5rem 0rem;
}

.a-inner input {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid black;
    outline: none;
}

.a-btns {
    padding-top: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-btns button {
    background-color:rgb(4, 170, 109);
    border: none;
    border-radius: 0.3rem;
    color: white;
    transition: background-color 300ms ease;
}

.a-back {
    padding: 0.4rem 1.4rem;
}

.a-sign-up, .a-sign-in {
    padding: 0.4rem 1.1rem;
}

.a-btns button:hover {
    background-color: rgba(4, 170, 109, 0.9);
    cursor: pointer;
}

.adb-sign-out {
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border: 1.5px solid rgb(4, 170, 109);
    border-radius: 50%;
    background-color: transparent;
    position: relative;
}

.adb-sign-out-msg {
    display: none;
    position: absolute;
    left: 0rem;
    top: 2.6rem;
    right: 0rem;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.adb-sign-out:hover .adb-sign-out-msg {
    display: flex;
}

.adb-users-outer {
    margin-top: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
}

.adb-vendors-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}

.adb-users, .adb-vendors {
    width: 100%;
    background-color: white;
    padding: 0.5rem;
    min-width: 300px;
    max-width: 600px;
    min-height: 42vh;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.adb-table {
    overflow-y: auto;
    max-height: 34vh;
}


.adb-user, .adb-vendor {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0.5rem 0rem;
    padding-bottom: 0.3rem;
    gap: 0.4rem;
    border-bottom: 1px solid;
}

.adb-user div, .adb-vendor div{
    width: 100%;
}

.adb-del-btn, .adb-rem-btn{
    display: flex;
    align-items: center;
    justify-content: right;

}


.adb-del-btn button, .adb-rem-btn button {
    background-color: rgb(4, 170, 109);
    border: none;
    color: white;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: background-color 300ms ease;
}

.adb-del-btn button {
    padding: 0.3rem 0.8rem;
}

.adb-del-btn button:hover, .adb-rem-btn button:hover{
    background-color: rgba(4, 170, 109, 0.9);
}

.adb-ud-outer { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.adb-ud-inner {
    background-color: white;
    min-width: 300px;
    padding: 1rem;
}

.adb-ud-btns {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adb-ud-btns button {
    background-color: rgb(4, 170, 109);
    border: none;
    color: white;
    padding: 0.3rem 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: background-color 300ms ease;
}

.adb-ud-btns .adb-ud-btns-back {
    padding: 0.3rem 1.5rem;
}

.adb-ud-btns button:hover {
    background-color: rgba(4, 170, 109, 0.9);
}